/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/* font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
/* font-family: 'Inter', sans-serif; */
body {
  font-family: "Poppins", sans-serif;
  padding: 60px 100px;
  margin: 0;
}

/* Header Section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  color: #3a3a3a;
  font-size: 24px;
}
a {
  color: #3a3a3a;
  font-size: 16px;
  padding-right: 34px;
  text-decoration: none;
}
.fa-shopping-cart {
  padding-left: 34px;
}

/* First Section  */
.first-section {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
.first-section-left {
  width: 582px;
  height: 270px;
}
.first-section .first-section-left h1 {
  font-size: 52px;
  width: 582px;
  height: 133px;
}
.first-section .first-section-left p {
  font-weight: 600;
  font-size: 16px;
}
button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 44px;
  width: 196px;
  font-weight: bold;
  font-size: 16px;
  /* text-align: center; */
  color: white;
  background-color: #e02c6d;
  padding: 10px 20px;
  border: 1px solid #e02c6d;
  border-radius: 41px;
}
button > i {
  font-size: 20px;
}
/* .first-section-img {
  background-image: url(images/shape-1.png);
  background-position: center;
  background-size: 410px;
  background-repeat: no-repeat;
} */
.first-section-img > img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(211, 211, 211, 0.404);
  border-bottom: 1px solid rgba(211, 211, 211, 0.404);
  margin-top: 70px;
  padding: 20px 0 20px 0;
}
